/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    /* Body Styles */
    background: rgb(0, 0, 0);
    min-height: 200vh;
}

/* Banner Styles */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    z-index: -1;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px; /* Adjusted padding for the header */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Adjusted z-index */
}

/* Sticky Header Styles */
header.sticky {
    padding: 10px 100px; /* Adjusted padding for sticky header */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect, looks cool */
    backdrop-filter: blur(10px);  /* Used for creating a blur effect */
}

/* Logo Styles */
header .logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

/* Header Navigation Styles */
header ul {
    display: flex;
    align-items: center;
}

/* Header Navigation Items Styles - Meaning all of the items in the header */
header ul li {
    position: relative;
    list-style: none;
}

/* Header Navigation Item Styles - Meaning all of the items in the header */
header ul li:hover ul {
    display: block;
}

/* Header Navigation Item Styles - Same as above, but the Hyperlink part of each of them */
header ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px; /* Adjusted padding for menu items */
    transition: 0.2s;
}

/* Hover Effect for Header Navigation Items */
header ul li a:hover {
    background: #7e7e7e;
    border-radius: 20px;
    color: #fff;
}

/* Dropdown Menu Styles */
header ul ul {
    position: absolute;
    top: 150%;
    left: 0;
    background: #000;
    display: none;
    padding: 10px 0;
    z-index: 1000;
    border-top: 2px solid #7e7e7e; /* Optional: border for dropdown */
    width: 100%;
}

/* Dropdown Items Styles - Meaning all of titems in the dropdown */
header ul ul li {
    text-align: center;
}

/* Dropdown Item Styles - Same as above, but the Hyperlink part of each of them */
header ul ul li a {
    display: block;
    padding: 10px 0; /* Adjusted padding for dropdown items */
    color: #fff;
    transition: 0.3s;
}

/* Hover Effect for Dropdown Items */
header ul ul li a:hover {
    background: #7e7e7e;
    border-radius: 20px;
    color: #000;
}

/* Dropdown Display on Hover */
header ul li:hover > ul {
    display: block;
}

